<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wikipraktika | Taschenrechner - tragbare, handliche elektronische Rechenmaschine</title>

		<!-- TODO: author, publisher, description, bookmark icon -->

		<link rel="stylesheet" type="text/css" href="styles/styles.css">
	</head>
	<body>
		<header>
			<img src="../media/logo-wikipraktika.svg" id="header-logo">
			<h1 id="header-title">Wikipraktika</h1>
		</header>

		<!-- TODO navigation-->


		<main>

			<!-- TODO -->
		</main>

		<!-- TODO -->
	</body>
</html>