<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wikipraktika | Taschenrechner - tragbare, handliche elektronische Rechenmaschine</title>

	<!-- TODO: author, publisher, description, bookmark icon -->

	<link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
<header>
	<img src="../media/logo-wikipraktika.svg" id="header-logo" alt="wikipraktika Logo">
	<h1 id="header-title">Wikipraktika</h1>
</header>
<h1>Navigation</h1>
<nav>
	<ul>
		<li><a href="#">Hauptseite</a></li>
		<li><a href="#">Themenportale</a></li>
		<li>Mitmachen</li>
		<li>
			<ul>
				<li><a href="#">Artikel verbessern</a></li>
				<li><a href="#">Neuen Artikel anlegen</a></li>
				<li><a href="#">Autorenportal</a></li>
				<li><a href="#">Hilfe</a></li>
				<li><a href="#">Letzte Änderungen</a></li>
				<li><a href="#">Kontakt</a></li>
				<li><a href="#">Spenden</a></li>
			</ul>
		</li>
		<li>Werkzeuge</li>
		<li>
			<ul>
				<li><a href="#">Links auf diese Seite</a></li>
				<li><a href="#">Änderungen an verlinkten Seiten</a></li>
				<li><a href="#">Permanenter Link</a></li>
				<li><a href="#">Artikel zitieren</a></li>
			</ul>
		</li>
		<li>In anderen Sprachen</li>
		<li>
			<ul>
				<li id="italy"><a href="#">Italiano</a></li>
				<li id="france"><a href="#">Français</a></li>
				<li id="uk"><a href="#">English</a></li>
			</ul>
		</li>
	</ul>
</nav>


<main>

	<h1>Taschenrechner</h1>
	<h2>Taschenrechner</h2>
	<p>Ein Taschenrechner ist eine tragbare, handliche elektronische Rechenmaschine, mit deren Hilfe numerische
		Berechnungen ausgeführt werden können. Einige neuere technisch-wissenschaftliche Taschenrechner beherrschen auch
		symbolische Mathematik mittels eines Computeralgebrasystems (CAS), können also etwa Gleichungen umstellen oder
		lösen.</p>
	<p>Praktisch alle heutigen Taschenrechner verwenden elektronische Integrierte Schaltungen und LC-Displays als
		Anzeige und
		werden von einer Batterie oder Solarzelle mit Strom versorgt.</p>
	<figure><img src="../media/900px-SCM_Marchant_calculator.jpg" alt="Merchant Calculator">
		<figcaption>By <a href="#">Bilby</a> - Own work, <a href="#">CC BY 3.0</a>
			https://commons.wikimedia.org/w/index.php?curid=10980797
		</figcaption>
	</figure>
	<h4>Geschichte</h4>
	<p>Bereits vor der Einführung der elektronischen Taschenrechner gab es einen Bedarf nach
		tragbaren Rechenhilfen. Dieser wurde mit mechanischen Taschenrechnern und
		Rechenschiebern befriedigt. Meist handelte es sich dabei um einfache
		Addiermaschinen. Auch Vier-Spezies-Maschinen – also Rechenmaschinen, die Addition,
		Subtraktion, Multiplikation und Division beherrschten – gab es in taschentauglicher Größe.
		Bekanntestes Beispiel ist die Curta.</p>
	<p>Vorläufer der elektronischen Taschenrechner waren elektronische Tischrechner, bei
		denen der Integrationsgrad der Schaltungstechnik noch geringer war und die deshalb
		größere Dimensionen aufwiesen.</p>
	<p>Der erste elektronische, tatsächlich handflächengroße Taschenrechner wurde 1967 von
		Texas Instruments entwickelt.[1] Ein 1,5 kg schwerer Prototyp dieses ersten
		Taschenrechners ist heute in der Smithsonian Institution ausgestellt. Auch dieser lief schon mit Batterien,
		frühere Rechner
		benötigten einen Stromanschluss. Die ersten kommerziell vertriebenen Taschenrechner wurden 1969 und 1970 von den
		japanischen Firmen Compucorp, Sanyo, Sharp und Canon hergestellt. Intel entwickelte für die japanische Firma
		Busicom
		einen der ersten Mikroprozessoren, den Intel 4004, der 1971 auf den Markt kam und in dem Modell Busicom 141-PF
		verwendet wurde. Als erster Taschenrechner, der mit einem Verkaufspreis von 10.000 Yen für die breite Masse
		erschwinglich war, gilt der 1972 veröffentlichte Casio Mini.[2] 1972 brachte Texas Instruments den
		Taschenrechner SR 10
		mit dem eigenen Mikroprozessor TMS1000 heraus. Diese Taschenrechner verfügten über wenig mehr als die vier
		Grundrechenarten. 1971 stellte Bowmar den ersten in den USA erhältlichen Taschenrechner her (Bowmar 901B/„Bowmar
		Brain“, Maße: 131 mm ×77 mm × 37 mm). Er hatte vier Funktionen und ein achtstelliges rotes LED-Display. Verkauft
		wurde
		er für 240 US$. Bowmar musste 1976 schließen.</p>

	<p>Ende der damals noch weit verbreiteten Rechenschieber ein. Einer seiner Entwickler war Steve Wozniak, der wenige
		Jahre
		später das Unternehmen Apple mitgründete und als Computer-Ingenieur die Entwicklung des Personal Computer
		maßgeblich beeinflusste.</p>

	<p>
		Vor allem Hewlett Packard und Texas Instruments entwickelten ab 1974 auch programmierbare Taschenrechner.
	</p>
	<h4>Numerische Genauigkeit</h4>
	<p>
		Auch wenn heutige Taschenrechner im Regelfall kaum Programmfehler bei einfachen Berechnungen aufweisen, lassen
		sich zwischen verschiedenen Taschenrechnermodellen unterschiedliche Genauigkeiten und Auflösungen bei
		numerischen Berechnungen bestimmen. Die Gründe liegen in den numerischen Näherungsverfahren (beispielsweise
		Horner-Schema und CORDIC), mit denen beispielsweise transzendente Funktionen wie die Sinus-Funktion berechnet
		werden. Genauer gesagt kommt es auf die Anzahl der abgespeicherten Koeffizienten für die
		Funktionsapproximationen
		an: der dafür benötigte Speicherplatz war vor allem in der Anfangszeit ein extremer Engpass. Diese kleinen
		Unterschiede
		in den Verfahren und unterschiedliche Genauigkeiten lassen sich auch als Erkennungsmerkmal für eine bestimmte
		Firmware verwenden.
	</p>
	<p>
		Beispielsweise liefert die numerische Berechnung von sin (22) in Radiant auf verschiedenen Taschenrechnern
		voneinander
		abweichende Ergebnisse.
	</p>
	<sup>Source Wikipedia: <a href="https://de.wikipedia.org/wiki/Taschenrechner">de.wikipedia.org/wiki/Taschenrechner</a></sup>

	<h2>Demonstration</h2>
	<iframe src="calculator/index.html"></iframe>

	<h4>Bedienung des TI-Nspire CX CAS</h4>
	<video src="../media/TI-Nspire CX CAS 3D Model.webm" alt="TI-nspire introduction video"></video>
</main>

<!-- TODO -->
</body>
</html>